@import '~bootstrap/scss/pagination';

.pagination {
  &.pagination-sm {
    .page-link {
      line-height: $input-btn-line-height-sm;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      min-width: 32px;
      max-width: 32px;
      aspect-ratio: 1;
    }
  }

  &.pagination-lg {
    .page-link {
      font-size: $input-btn-font-size;
    }
  }
}

.page-link {
  margin: 0;
  transition: $transition-base;
}

.page-item {
  &:not(:first-of-type) {
    .page-link {
      margin-left: 2px;
    }
  }
}
